# Image files
*.png
*.jpg
*.pgf 
*.gif

Thumbs.db

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# TeX/LaTeX
*.aux
*.bbl
*.blg
*.synctex.gz
*.xwm
